@import './node_modules/yarn-design-system/dist/css/base.css';
@import './node_modules/yarn-design-system/dist/css/colors.css';
@import './node_modules/yarn-design-system/dist/css/components.css';
@import './node_modules/yarn-design-system/dist/css/core.css';
@import './node_modules/yarn-design-system/dist/css/grid.css';
@import './node_modules/yarn-design-system/dist/css/layout.css';
@import './node_modules/yarn-design-system/dist/css/print.css';
@import './node_modules/yarn-design-system/dist/css/utils.css';
@import './node_modules/yarn-design-system-icons/dist/css/yarn-icons.css';
@import './node_modules/yarn-design-system-logos/dist/css/yarn-logos.css';
@import './node_modules/yarn-design-system-fonts/dist/yarn-fonts.css';

.test-class{
    margin-top: 20em;
    margin-left: 20em;
    width:20em
}
.dropdown-test{
    background-color: aqua;
    outline: blue;
}